@model LNCDCDSS.Models.PatBasicInfor

@{
    ViewBag.Title = "GetPatient";
    Layout = "~/Views/Shared/PatLayout.cshtml";
}

<div id="content">
		<div id="query">
			<h2 class="title">查询病人</h2>
			
		</div>
		<div id="entry">
			<h2 class="title">新病人注册</h2>
			
		</div>
	</div>
	<!-- end content -->
	<!-- start sidebar -->
	<div id="sidebar">
    <h2> 病人列表</h2>
		<ul>
			
			
		  <li><a href="#">September</a> (23)</li>
					<li><a href="#">August</a> (31)</li>
					<li><a href="#">July</a> (31)</li>
					<li><a href="#">June</a> (30)</li>
					<li><a href="#">May</a> (31)</li>
					<li><a href="#">April</a> (30)</li>
					<li><a href="#">March</a> (31)</li>
					<li><a href="#">February</a> (28)</li>
					<li><a href="#">January</a> (31)</li>
			
		</ul>
	</div>
