@{
    ViewBag.Title = "ViewRecord";
    Layout = "~/Views/Shared/PatLayout.cshtml";
}
@model List<LNCDCDSS.Models.VisitRecord>
<div id="content">
<h2 class="title">认知检查</h2>
<div id ="TestResult"></div>
<h2 class="title">主诉</h2>
<div id ="RecordNote"></div>
<h2 class="title">诊断</h2>
<div id ="DiagnosisResult"></div>
<div class="button">
<a> 开始问诊</a>
</div>
<div ID=“delete” class="button">
<a> 删除记录</a>
</div>
</div>
<div id="sidebar">
 <h2> 病人列表</h2>
		<ul>
			
			@foreach (var item in Model)

{
    <li>
      @Ajax.ActionLink(@item.VisitDate.Date.ToString(), "DetailView", new { id = item.Id },new AjaxOptions
   {
       UpdateTargetId = "Content",
       LoadingElementId = "loading",
       OnSuccess = "Begin"
   })
  </li>
}			
		</ul>
</div>

<script type ="text/javascript">

    function Begin(data) {
        //var dataObj = eval("(" + data + ")"); //
        for (var n = 0; n < data.length; n++) {
            $("#" + data[n].Name).html(data[n].Contetntext);
        }
    }
    $(function () {
        $(".button").click(function () {
            window.location.href = '@Url.Action("GoToDiagnosis", "EnterPatInfor", new { id = Model[0].PatBasicInforId }, null)';
        })
    });
    </script>