@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Diagnosis_Layout.cshtml";
}
<p>
   <object id="Reporter2" 
    classid="clsid:466F909A-0EE1-4F40-A2CA-9906C5E36CB2"   width="920" height="540">
</object>
</p>

<script type ="text/javascript">
    $(function () {
        //$(".button").click(function () {
        var OCX = document.getElementById('Reporter2');
        var b = OCX.OpenReport("D:\\2013CDSS\\TemplateForReporter\\LNCDtemp");
        OCX.ShowReport();
        OCX.ShowThisPage("基本情况");
        // })

        $(".button").click(function () {

            $.ajax({
                url: '/Diagnosis/Save',
                type: "POST",
                data: "json",
                success: function (data) {
                    if (data.OK) {
                        var OCX = document.getElementById('Reporter2');
                        var d="";
                        OCX.GetData("Data_source\PatPhysicalExam\Height",d);
                        var b = OCX.OpenReport("D:\\2013CDSS\\TemplateForReporter\\LNCDtemp");
                        $(".selected").next().addClass("selected");
                        var name = $(".selected").last().attr("id");
                        $(".active").next().addClass("active");
                        $(".active").first().removeClass("active");
                        OCX.ShowReport();
                        OCX.ShowThisPage(name);
                    }
                    else {
                        document.getElementById("msg").innerHTML = data.Message.toString();

                    }

                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                }
            });

           
            
        });
    });
  
</script>