@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Diagnosis_Layout.cshtml";
}
<p>
   <object id="Reporter2" 
    classid="clsid:466F909A-0EE1-4F40-A2CA-9906C5E36CB2"   width="920" height="540">
</object>
</p>

<script type ="text/javascript">
    $(function () {
        //$(".button").click(function () {
        var OCX = document.getElementById('Reporter2');
        var b = OCX.OpenReport("D:\\2013CDSS\\TemplateForReporter\\LNCDtemp");
        OCX.ShowReport();
        OCX.ShowThisPage("基本情况");
        // })

        $(".button").click(function () {

            //var thing = { pma: [ { Id: 2, MC1: 'jquery-json', MC2: 'jquery-json', MC3: 'jquery-json', MC4: 'jquery-json', MC5: 'jquery-json', MC6: 'jquery-json', MC7: 'jquery-json', MC8: 'jquery-json', MC9: 'jquery-json', Total: 'jquery-json' }, { Id: 3, MC1: 'jquery-json', MC2: 'jquery-json', MC3: 'jquery-json', MC4: 'jquery-json', MC5: 'jquery-json', MC6: 'jquery-json', MC7: 'jquery-json', MC8: 'jquery-json', MC9: 'jquery-json', Total: 'jquery-json'} ] };

            //get the data of PatMoCA
            var strMC1 = OCX.GetData("Data_source/PatMoCA/MC1");
            var nMC1 = parseInt(strMC1);
            if (isNaN(nMC1))
                nMC1 = 0;

            var strMC2 = OCX.GetData("Data_source/PatMoCA/MC2");
            var nMC2 = parseInt(strMC2);
            if (isNaN(nMC2))
                nMC2 = 0;

            var strMC3 = OCX.GetData("Data_source/PatMoCA/MC3");
            var nMC3 = parseInt(strMC3);
            if (isNaN(nMC3))
                nMC3 = 0;

            var strMC4 = OCX.GetData("Data_source/PatMoCA/MC4");
            var nMC4 = parseInt(strMC5);
            if (isNaN(nMC4))
                nMC4 = 0;

            var strMC5 = OCX.GetData("Data_source/PatMoCA/MC5");
            var nMC5 = parseInt(strMC5);
            if (isNaN(nMC5))
                nMC5 = 0;

            var strMC6 = OCX.GetData("Data_source/PatMoCA/MC6");
            var nMC6 = parseInt(strMC6);
            if (isNaN(nMC6))
                nMC6 = 0;

            var strMC7 = OCX.GetData("Data_source/PatMoCA/MC7");
            var nMC7 = parseInt(strMC7);
            if (isNaN(nMC7))
                nMC7 = 0;

            var strMC8 = OCX.GetData("Data_source/PatMoCA/MC8");
            var nMC8 = parseInt(strMC8);
            if (isNaN(nMC8))
                nMC8 = 0;

            var strMC9 = OCX.GetData("Data_source/PatMoCA/MC9");
            var nMC9 = parseInt(strMC9);
            if (isNaN(nMC9))
                nMC9 = 0;

            var nTotal = nMC1 + nMC2 + nMC3 + nMC4 + nMC5 + nMC6 + nMC7 + nMC8 + nMC9;
            var strTotal = nTotal.toString();

            var thing = { pma: { Id: 2, MC1: strMC1, MC2: strMC2
            , MC3: strMC3, MC4: strMC4, MC5: strMC5
            , MC6: strMC6, MC7: strMC7, MC8: strMC8
            , MC9: strMC9, Total: strTotal
            },
                pme: { Id: 2, M1: 'jquery-json', M2: 'jquery-json'
            , M3: 'jquery-json', M4: 'jquery-json', M5: 'jquery-json'
            , M6: 'jquery-json', M7: 'jquery-json', M8: 'jquery-json'
            , M9: 'jquery-json', M10: 'jquery-json', M11: 'jquery-json'
            , Total: 'jquery-json'
                }
            };
            
            var encoded = $.toJSON(thing);


            if ($(".selected").last().attr("id") == "辅助诊断") {
                $.ajax({
                    url: '/Diagnosis/Save',
                    type: "POST",
                    data: { postjson: encoded },
                    success: function (data) {
                        if (data.OK) {
                            window.location.href = '@Url.Action("Index", "EnterPatInfor")';
                        }
                        else {
                            document.getElementById("msg").innerHTML = data.Message.toString();

                        }

                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                    }
                });
            }
            else {
                $(".selected").next().addClass("selected");
                var name = $(".selected").last().attr("id");
                $(".active").next().addClass("active");
                $(".active").first().removeClass("active");
                //var OCX = document.getElementById('Reporter2');
                //var b = OCX.OpenReport("D:\\2013CDSS\\TemplateForReporter\\LNCDtemp");
                OCX.ShowReport();
                OCX.ShowThisPage(name);
                if (name == "辅助诊断") {
                    $("#b1").html("保存");
                }

            }


        });
    });
  
</script>