@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Diagnosis_Layout.cshtml";
}
<p>
   <object id="Reporter2" 
    classid="clsid:466F909A-0EE1-4F40-A2CA-9906C5E36CB2"   width="920" height="540">
</object>
</p>

<script type ="text/javascript">
    $(function () {
        //$(".button").click(function () {
        var OCX = document.getElementById('Reporter2');
        var b = OCX.OpenReport("D:\\2013CDSS\\TemplateForReporter\\LNCDtemp");
        OCX.ShowReport();
        OCX.ShowThisPage("基本情况");
        // })

        $(".button").click(function () {

            var thing = {  Id: 2, MC1: 'jquery-json' ,MC2: 'jquery-json',MC3: 'jquery-json',MC4: 'jquery-json',MC5: 'jquery-json',MC6: 'jquery-json',MC7: 'jquery-json',MC8: 'jquery-json',MC9: 'jquery-json',Total: 'jquery-json',};
            var encoded = $.toJSON(thing);


            if ($(".selected").last().attr("id") == "辅助诊断") {
                $.ajax({
                    url: '/Diagnosis/Save',
                    type: "POST",
                    data: { postjson: encoded },
                    success: function (data) {
                        if (data.OK) {
                            window.location.href = '@Url.Action("Index", "EnterPatInfor")';
                        }
                        else {
                            document.getElementById("msg").innerHTML = data.Message.toString();

                        }

                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                    }
                });
            }
            else {
                $(".selected").next().addClass("selected");
                var name = $(".selected").last().attr("id");
                $(".active").next().addClass("active");
                $(".active").first().removeClass("active");
                var OCX = document.getElementById('Reporter2');
                var b = OCX.OpenReport("D:\\2013CDSS\\TemplateForReporter\\LNCDtemp");
                OCX.ShowReport();
                OCX.ShowThisPage(name);
                if (name == "辅助诊断") {
                    $("#b1").html("保存");
                }

            }


        });
    });
  
</script>