@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	background-color:#c0c0c0;
	font-size: 20px;
	color:#000;
	
}
h
{
    padding: 50px 0 0 84px;
    font-size: 24px;
}
.head{
	width: 962px;
	height: 162px;
	margin: 0 auto;
	background: url(images/Login/head.png) no-repeat ;
}
.content {
	width: 960px;
	margin: 0 auto;
	height:638px;
	background: url(images/Login/content.png) no-repeat ;
}
ul, ol {
	line-height: 170%;
	display:block;
	
}
.login
{
	width: 365px;
	height: 436px;
	float: right;
	margin:130px 26px 0 0;
	background: url(images/Login/login.png) no-repeat ;
}
.footer {
	clear: both;
	width: 962px;
	height: 118px;
	margin: 0 auto;
	padding: 0 0 0 0;
	background: url(images/Login/footer.png) no-repeat ;
	
}
div.editor-field
{
    padding: 50px 20px 0 0
    font-size: 20px;
}
li
{
    display:block;
    text-decoration:none;
    font-size:22px;
}
input
{
    font-size: 16px;
    padding:  0;
    float:right;
    margin: 2px 0 0 0;
    
}
p
{
    margin-top: 9px;
    height: 37px;
	float: left;
	margin-left:100px;
	width :138px;
    background: url(images/normal-button.png) no-repeat ;
    text-align:center;
}

#main
{
    margin:70px 20px 0 0;
    height :120px;
}
#msg
{
    height :30px;
    width :300px;
    display:block;
    font-size :20px;
    color:Red;
    float :left;
    margin-left:120px;
}
input[type="submit"]
{
     height: 37px;
	float: left;
	margin-left:100px;
	width :138px;
    background: url(images/normal-button.png) no-repeat ;
    text-align:center;
    border:0;
}
input[type="submit"]:hover
{
     background: url(images/hover-button.png) no-repeat ;
}
input[type="submit"]:active
{
     background: url(images/click-button.png) no-repeat ;
}