@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	background-color:#c0c0c0;
	font-size: 17px;
	color:#076FA2;
	font-family: "Microsoft YaHei",Î¢ÈíÑÅºÚ,Tahoma,Helvetica,arial,sans-serif;
}

body, th, td,  textarea, option {
	text-transform: lowercase;
	
	font-size: 18px;
}

h1, h2, h3 {
	font-weight: normal;
	color: #000000;
}

h1 {
	letter-spacing: -2px;
	font-size: 2em;
}

h2 {
	letter-spacing: -1px;
	font-size: 24px;
}

h3 {
	font-size: 1em;
}



p
{
    margin-top: 9px;
}



#wrapper {
}
/* Header */

#header {
	width: 962px;
	height: 162px;
	margin: 0 auto;
	background: url(images/head.png) no-repeat right top;
}


/* Page */

#page {
	width: 960px;
	margin: 0 auto;
}

/* Content */

#content {
	float: right;
	width: 704px;
	height:715px;
	margin: 0;
	background: url(images/Content.png) no-repeat ;
	
}

#query {
	padding: 0 0 20px 0;
	float: left;
	width: 270px;
	padding:0 20px 0 20px;
	color :#000;
	
}
#detail
{
    float:left;
    
}
#entry {
	float: right;
	width: 290px;
	height: 505px;
	border-left: 2px  solid #D3E7F2 ;
	padding :0 50px 0 20px;
	color:#000;
}
input
{
    font-size: 16px;
    margin: 0 0 0 2px;
    float : left;
    padding: 3px  0 0 3px;
    width:150px;
   height:28px;
   border: 2px solid #98C2E2;
   background-color:#D3E7F2;
}
select
{
     font-size: 16px;
    margin: 0 0 0 2px;
    float : left;
  
    width:160px;
    height:32px;
    border: 2px solid #98C2E2;
     background-color: #D3E7F2;
}
#content ul, ol {
	
	display:block;
	padding:0;
}
#content li
{
    height: 32px;
    display:block;
    text-decoration:none;
    padding-bottom:15px;
}
#content li span
{
   width: 90px;
float: left;
text-align: right;
padding-right: 15px;
padding-top: 7px;
font-size: 18px;

}

.error
{
    display :block;
   padding:55px 0 0 100px;
    color: #CA471B;
    line-height: 24px;
}




.title {
	margin: 0 0 0 10px;
	padding-bottom: 5px;
	
}

.button
{
    height: 37px;
	float: right;
	margin:10px 70px 0 20px;
	padding-top:6px;
	width :138px;
    background: url(images/normal-button.png) no-repeat ;
    text-align:center;
    color: #000;
}

.button:hover
{
     background: url(images/hover-button.png) no-repeat ;
      cursor:pointer;
}
.button.active
{
     background: url(images/click-button.png) no-repeat ;
}
.button a:hover
{
    cursor:pointer;
}


input[type="submit"]
{
     height: 37px;
	float: left;
	margin-left:106px;
	padding:0;
	width :138px;
    background: url(images/normal-button.png) no-repeat ;
    text-align:center;
    border:0;
    font-family:"Microsoft YaHei";
}

input[type="submit"]:hover
{
     background: url(images/hover-button.png) no-repeat ;
}
input[type="submit"]:active
{
     background: url(images/click-button.png) no-repeat ;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 256px;
	height: 715px;
	background: url(images/sidebar.png) no-repeat ;
}

#List
{
    height:615px;
}
#List ul {
	margin: 0;
	padding: 10px 20px 0 20px;
	list-style: none;
	
}

#List li
{ 
	background-color:#B9DCF2;
    padding: 8px 10px 0 10px ;
    margin-bottom:10px;
	width: 195px;
	height:30px;
	text-align: center;
	
}
.CurrentView
{
    
}
#List h2 {
	text-decoration: none;
	padding: 2px 0 0 0;
	margin:0;
	text-align:center;
}

#List a {
	color: #076FA2;
	font-size:18px;
	text-decoration: none;

}

#List a:hover {
	text-decoration: none;
	color: #E6B715;
}

/* Footer */

#footer {
	clear: both;
	width: 962px;
	height: 118px;
	margin: 0 auto;
	padding: 0 0 0 0;
	background: url(images/foot-2.png) no-repeat ;
	font-size: smaller;
	color: #52640A;
}

#TestResult
{
     padding :40px 20px 0 100px;
    width: 510px;
    height: 164px;
    background: url(images/box1.png) no-repeat ;
    background-position: right;
}
#DiagnosisResult
{
    padding :40px 20px 0 100px;
    width: 510px;
    height: 144px;
    background: url(images/box2.png) no-repeat ;
    background-position: right;
}
#RecordNote
{
    padding :40px 20px 0 100px;
    width: 510px;
    height: 144px;
    background: url(images/box3.png) no-repeat ;
    background-position: right;
}
