@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	background-color:#c0c0c0;
	font-size: 17px;
	color:#000;
	
}

body, th, td,  textarea, option {
	text-transform: lowercase;
	font-family: Arial, Helvetica, sans-serif. Times, serif;
	font-size: 18px;
}
input, select
{
    font-size: 16px;
    padding:  0;
    float : right;
    margin: 8px 0 0 0;
    width:120px;
   
}
h1, h2, h3 {
	font-weight: normal;
	color: #000000;
}

h1 {
	letter-spacing: -2px;
	font-size: 2em;
}

h2 {
	letter-spacing: -1px;
	font-size: 24px;
}

h3 {
	font-size: 1em;
}

ul, ol {
	line-height: 200%;
	display:block;
	padding:0;
}
li
{
    display:block;
    text-decoration:none;
}
p
{
    margin-top: 9px;
}



#wrapper {
}
/* Header */

#header {
	width: 962px;
	height: 162px;
	margin: 0 auto;
	background: url(images/head-FirstPage.png) no-repeat right top;
}

#header h1, #header p {
	margin: 0;
	color: #000000;
}

#header h1 {
	
	padding: 50px 0 0 184px;
}

#header p {
	padding-left: 93px;
	margin-top: -10px;
}
#header a {
	color: #E6B715;
}

/* Page */

#page {
	width: 960px;
	margin: 0 auto;
}

/* Content */

#content {
	float: right;
	width: 704px;
	height:715px;
	margin: 0;
	background: url(images/Content.png) no-repeat ;
	
}

#query {
	padding: 0 0 20px 0;
	float: left;
	width: 290px;
	padding:0 20px 0 20px;
	
}
#detail
{
    float:left;
    
}
#entry {
	float: right;
	width: 310px;
	height: 505px;
	border-left: 2px  solid #c0c0c0 ;
	padding :0 30px 0 30px;
}

.title {
	margin: 0;
	padding-bottom: 5px;
	
}

.button
{
    height: 37px;
	float: right;
	margin:10px 70px 0 20px;
	padding-top:9px;
	width :138px;
    background: url(images/normal-button.png) no-repeat ;
    text-align:center;
}

.button:hover
{
     background: url(images/hover-button.png) no-repeat ;
}
.button.active
{
     background: url(images/click-button.png) no-repeat ;
}


div.editor-field
{
    margin-bottom: 10px;
    font-size: 20px;
}
input[type="submit"]
{
     height: 37px;
	float: left;
	margin-left:100px;
	width :138px;
    background: url(images/normal-button.png) no-repeat ;
    text-align:center;
    border:0;
}

input[type="submit"]:hover
{
     background: url(images/hover-button.png) no-repeat ;
}
input[type="submit"]:active
{
     background: url(images/click-button.png) no-repeat ;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 256px;
	height: 715px;
	background: url(images/sidebar.png) no-repeat ;
}

#List
{
    height:615px;
}
#List ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#List li
{
	margin: 10px 10px 0 10px;
	width: 205 px;
	background-color:#B9DCF2;
	
}

#List h2 {
	text-decoration: none;
	padding: 0 2px 0 64px;
	margin:0;
}

#List a {
	color: #000000;
	font-size:20px;
	margin: 20px;
}

#List a:hover {
	text-decoration: none;
	color: #E6B715;
}

/* Footer */

#footer {
	clear: both;
	width: 962px;
	height: 118px;
	margin: 0 auto;
	padding: 0 0 0 0;
	background: url(images/foot-2.png) no-repeat ;
	font-size: smaller;
	color: #52640A;
}

#TestResult
{
     padding :40px 20px 0 100px;
    width: 510px;
    height: 164px;
    background: url(images/box1.png) no-repeat ;
    background-position: right;
}
#DiagnosisResult
{
    padding :40px 20px 0 100px;
    width: 510px;
    height: 144px;
    background: url(images/box2.png) no-repeat ;
    background-position: right;
}
#RecordNote
{
    padding :40px 20px 0 100px;
    width: 510px;
    height: 144px;
    background: url(images/box3.png) no-repeat ;
    background-position: right;
}
