@model LNCDCDSS.Models.DoctorAccount

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}


<h>请登录</h>
<div id="main">

<ul>
            <li><div class="editor-field"><a>用户名</a> 
            <input type ="text"></input></div></li>
            <li><div class="editor-field"><a>密码</a> 
            <input type ="text"></input></div></li>
   </ul>
   </div>
    <div class="button"><p>查询病人</p>
            </div>