@model LNCDCDSS.Models.DoctorAccount

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}


<h>请登录</h>
<div id="main">

 @using (Html.BeginForm())
{  
    



<ul>
            <li><div class="editor-field"><a>用户名</a> 
            @Html.EditorFor(model => model.UserName)</div></li>
            <li><div class="editor-field"><a>密码</a> 
            @Html.EditorFor(model => model.PassWord)</div></li>
   </ul>
     <input class="button" type="submit" value="登录" /> 
      

   
 
     
} 
</div> 
 <div id="msg">@ViewBag.Message</div>
               
