@model   ICollection< LNCDCDSS.Models.PatBasicInfor>
     <h2> 病人列表</h2>         
<ul>

@foreach (var item in Model)

{
    <li>
 @Html.ActionLink(@item.Name, "ViewRecord", new { id = item.Id })
  </li>
}

</ul>